/* Login */

.full-block {
  display: flex;
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid lightgray;
}
.forgot {
  height: 60vh;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-form {
  display: table-caption;
}

.profile-form label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Gray 1 */

  color: #333333;
}

.profile-form input {
  width: 15vw;
  padding: 1vh;
  margin: 1rem;
  background: #ffffff;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
}

.profile-form button {
  margin-top: 3vh;
  border: none;
  padding: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background: #baafa1;
  border-radius: 16px;
  color: #ffffff;
}
