.App {
  background-color: #aad7ee;
  text-align: center;
  font-family: "Cabin", sans-serif;
  color: rgb(82, 75, 75);
  margin: 0;
  padding: 0;
}

/* Nav bar */
nav {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: white;
  height: 80px;
  align-items: center;
  padding: 10px;
}

.logo-link {
  padding-left: 2vw;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  width: 60vw;
  color: rgb(82, 75, 75);
}

.main-nav button {
  /* display: block; */
  height: 55px;
  width: 120px;
  margin-top: 3vh;
  font-size: 20px;
  border-radius: 20px;
  border-width: medium;
  border-color: rgb(82, 75, 75);
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 10px;
  color: rgb(82, 75, 75);
}

.berlin {
  margin-right: 1vw;
}

.login-nav {
  display: flex;
  justify-content: space-evenly;
  padding-left: 4vw;
  width: 20vw;
}

.navilink a {
  /* This is a link */
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

.navilink a:hover {
  color: grey;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  color: rgb(82, 75, 75) ey;
}

/* home */

.home-component {
  min-height: 65vh;
}
.logo_nb {
  height: 35vh;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 20px;
  width: 100vw;
  text-align: inherit;
}
.benefits_a {
  width: 20vw;
  flex-wrap: wrap;
}

.benefits_b {
  width: 20vw;
  flex-wrap: wrap;
}

.home-component h1 {
  margin-top: 0;
  padding-top: 35px;
  font-size: 25px;
  flex-wrap: wrap;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
