/* home */

.home-component {
  /* height: 45rem; */
  background-image: url("./header_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
}

/* @media screen and (max-width: 1060px) {
  .home-component {
    width: 69%;
    padding-top: 20%;
  }
}


@media screen and (max-width: 768px) {
  .home-component {
    width: 100%;
  }
}


@media screen and (max-width: 360px) {
  .home-component {
    width: 225%;
    margin-left: none;
  }
} */
