/* @media screen and (max-width: 1060px) {
  #App { width:67%; }
  

@media screen and (max-width: 768px) {
  #App { width:100%; } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Roboto",
    "Poppins" monospace;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
